/*header*/
header .header-wrap {
  background-color: #0b2839;
  background: url("../images/header-autsor-bg.jpg") center center no-repeat;
  min-height: 945px;
}

header .header-top .header-logo {
  float: left;
}

header .header-top .header-nav {
  float: left;
  width: 100%;
  max-width: 650px;
}

header .header-top .header-nav ul {
  margin: 0;
}

header .header-top .header-nav li {
  float: left;
  width: 25%;
  text-align: center;
  border-bottom: 1px solid transparent;
  transition: all ease 0.2s;
}

header .header-top .header-nav li:hover {
  border-bottom: 1px solid #a98352;
}

header .header-top .header-nav a {
  display: block;
  padding: 36px 0px;
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
}

header .header-top .header-tel {
  float: left;
}
