.review-wrap-all {
  padding-top: 65px;
  background-image: url("/images/background-reviw.png");
  background-repeat: no-repeat;
  width: 100%;
  vertical-align: top;
  position: relative;
  min-width: 1280px;
  background-position: center center;
}

.review-wrap-all .review-wrap {
  text-align: center;
  padding-right: 100px;
  padding-left: 100px;
}

.review-wrap-all .review-wrap .review {
  display: inline-block;
  width: 45%;
  padding-top: 75px;
  padding-bottom: 60px;
}

.review-wrap-all .review-wrap .review .human-face {
  float: left;
  padding-top: 20px;
}

.review-wrap-all .review-wrap .review .converttext {
  padding-left: 150px;
}

.review-wrap-all .review-wrap .review .converttext .name {
  text-align: left;
  font-family: 'calibri';
  font-size: 30px;
}

.review-wrap-all .review-wrap .review .converttext .post {
  text-align: left;
  font-family: 'calibri';
  font-size: 18px;
  font-style: italic;
  color: #707070;
}

.benefit-wrap-all {
  padding-top: 65px;
  padding-bottom: 25px;
}

.benefit-wrap-all .benefit-box {
  padding-top: 43px;
  width: 100%;
  padding-left: 60px;
}

.benefit-wrap-all .benefit-box .row {
  text-align: center;
  width: 100%;
  padding-bottom: 40px;
  margin-right: 0;
  margin-left: 0;
}

.benefit-wrap-all .benefit-box .row .benefit-item {
  display: inline-block;
  width: 28%;
  text-align: left;
  vertical-align: top;
  margin-left: 80px;
}

.benefit-wrap-all .benefit-box .row .benefit-item img {
  padding-top: 20px;
  padding-bottom: 6px;
}

.benefit-wrap-all .benefit-box .row .benefit-item .line {
  height: 3px;
  width: 45px;
  background-color: #a98352;
}

.benefit-wrap-all .benefit-box .row .benefit-item .name {
  font-family: 'calibri';
  font-size: 36px;
  padding-bottom: 12px;
}

.benefit-wrap-all .benefit-box .row .benefit-item .content {
  font-family: 'calibri';
  font-size: 20px;
  font-weight: 300;
  padding-top: 14px;
}

.benefit-wrap-all .benefit-box .row .benefit-item:first-child {
  margin-left: 0;
}
