/*header*/
header{
    &.index{
        .header-wrap{background-color: #0b2839;background: url('../images/header-autsor-bg.jpg') center center no-repeat;}
    }
    &.autstaf{
        .header-wrap{background-color: #0b2839;background: url('../images/header-autstaf-bg.jpg') center center no-repeat;background-size: 100% 100%;}
    }
    &.merchen{
        .header-wrap{background-color: #0b2839;background: url('../images/header-merchen-bg.jpg') center center no-repeat;background-size: 100% 100%;}
        .header-tab-top-subdesc{font-weight: 300;font-size: 20px;padding-top: 20px;line-height: 30px;

        }
    }

    .header-inside{min-height: 945px;position: relative;}
    .header-top{padding-top: 9px;
        .header-logo{float: left;padding-right: 75px;}
        .header-nav{float: left;width: 100%;max-width: 650px;
            ul{margin: 0;}
            li{float: left;width: 25%;text-align: center;transition:all ease 0.2s;
                &:hover{}
            }
            a{display: block;padding: 28px 0px;text-transform: uppercase;font-size: 14px;color: #fff;text-decoration: none;position: relative;transform: translateZ(0);-webkit-transform: translateZ(0);overflow: hidden;
                &:after{content: "";position: absolute;z-index: 1;left: 50%;right: 50%;bottom: 0;background: #a98352;height: 2px;-webkit-transition-property: left, right;transition-property: left, right;-webkit-transition-duration: 0.3s;transition-duration: 0.3s;-webkit-transition-timing-function: ease-out;transition-timing-function: ease-out;}
                &:hover{
                    &:after{left: 0;right: 0;}
                }
            }

            span{}
        }
        .header-tel{float: right;
            a{color: #fff;font-size: 22px;text-decoration: none;padding-top: 19px;display: block;}
            span{}
        }
    }
    .header-sub-top-zvonok{float: right;text-align: center;
        a{display: block;text-decoration: none;
            &:hover{span:not(.icon-head-tel){border-bottom:1px solid transparent;}}
        }
        .icon-head-tel{background: url('../images/icon-head-tel.png') center center no-repeat;height: 17px;width: 17px;display: inline-block;vertical-align: middle;margin-right: 5px;border-bottom: none;}
        span{display: inline-block;color: #fff;font-size: 19px;vertical-align: middle;text-transform: uppercase;border-bottom:1px solid white;transition:all ease .2s;line-height: 21px;}
    }
    .header-middle{text-align: center;color: #fff;padding-top: 196px;padding-bottom: 75px;
        .header-tab-top-title{position: relative;
            h3{font-size: 72px;text-transform: uppercase;margin: 0;}
            &:after{content: "";position: absolute;width: 306px;height: 14px;background: url('../images/header-tab-top-title-img.png') center center no-repeat;left: 50%;transform: translateX(-50%);-webkit-transform: translateX(-50%);-moz-transform: translateX(-50%);-ms-transform: translateX(-50%);bottom: -40px;}
        }

        .header-tab-top-item{max-width: 925px;margin: 0 auto;
        }
        .header-tab-top-desc{font-size: 24px;color: white;}
        .header-tab-top{padding-top: 47px;line-height: 31px;padding-bottom: 39px;}
        .header-tab-bottom{max-width: 690px;margin: 0 auto;
            .header-tab-bottom-item{width: 33%;font-size: 24px;padding: 4px 0px;vertical-align: middle;display: table-cell;color: #a5a8a9;border-bottom: 1px solid transparent;transition:all ease 0.2s;position: relative;cursor: pointer;
                &.active{color: #fff;
                    &:after{position: absolute;background-color: #a98352;width: 180px;left: 50%;transform: translateX(-50%);-moz-transform: translateX(-50%);-moz-transform: translateX(-50%);-ms-transform: translateX(-50%);content: "";bottom:0;height: 2px;}
                }
            }
        }
    }
    .header-pagination{font-weight: bold;color: white;font-size: 17px;position: absolute;left: 0;right: 0;bottom: 41px;
        a{display: block;text-decoration: none;color: #fff;text-transform: uppercase;}
        .header-pagination-left{float: left;padding: 0 5px;transition:opacity ease-out .2s;
            &:hover{opacity: 0.8;
                .icon-pagination-left{animation-play-state: running;-webkit-animation-play-state: running;}
            }
            .icon-pagination-left{width: 35px;height: 35px;background: url('../images/icon-pagination-left.png') center center no-repeat;display: inline-block;vertical-align: middle;
            }
            span{display: inline-block;vertical-align: middle;padding: 0px 10px;}
        }
        .header-pagination-right{float: right;padding: 0 5px;transition:opacity ease-out .2s;
            &:hover{opacity: 0.8;
                .icon-pagination-right{animation-play-state: running;-webkit-animation-play-state: running;}
            }
            .icon-pagination-right{width: 35px;height: 35px;background: url('../images/icon-pagination-right.png') center center no-repeat;display: inline-block;vertical-align: middle;
            }
            span{display: inline-block;vertical-align: middle;padding: 0px 10px;}
        }
        .icon-pagination-left,.icon-pagination-right{transform-origin:50% 50%;-webkit-transform-origin:50% 50%;animation-play-state: paused;-webkit-animation-play-state: paused;animation-name: thumb;animation-duration: 950ms;animation-iteration-count: infinite;animation-timing-function: linear;-webkit-animation-name: thumb;-webkit-animation-duration: 950ms;-webkit-animation-iteration-count: infinite;-webkit-animation-timing-function: linear;}
    }
}
@-webkit-keyframes thumb {
    0% { transform:translateX(0px); }
    50% { transform:translateX(-4px);  }
    100% { transform:translateX(0px);  }
}