.review-wrap-all{ padding-top: 65px; background-image: url('/images/background-reviw.png'); background-repeat: no-repeat; width: 100%; vertical-align: top; position: relative;  min-width: 1280px; background-position: center center;
    .review-wrap{text-align: center; padding-right: 100px; padding-left: 100px;
        .review{display: inline-block; width: 45%; padding-top: 75px; padding-bottom: 60px;
            .human-face{ float: left; padding-top: 20px;}
            .converttext{ padding-left:  150px;
                .name{text-align: left; font-family: 'calibri'; font-size: 30px; }
                .post{text-align: left; font-family: 'calibri';font-size: 18px; font-style: italic; color: #707070;}
            }
        }
    }
}