/*header*/
header{
    .header-wrap{background-color: #0b2839;background: url('../images/header-autsor-bg.jpg') center center no-repeat;min-height: 945px;}

    .header-top{
        .header-logo{float: left;padding-right: 75px;}
        .header-nav{float: left;width: 100%;max-width: 650px;
            ul{margin: 0;}
            li{float: left;width: 25%;text-align: center;border-bottom:1px solid transparent;transition:all ease 0.2s;
                &:hover{border-bottom:1px solid #a98352;}
            }
            a{display: block;padding: 28px 0px;text-transform: uppercase;font-size: 14px;color: #fff;text-decoration: none;}
            span{}
        }
        .header-tel{float: right;padding-left: 24px;
            a{color: #fff;font-size: 29px;text-decoration: none;padding-top: 20px;display: block;}
            span{}
        }
    }
    .header-sub-top-zvonok{float: right;text-align: center;
        .icon-head-tel{background: url('../images/icon-head-tel.png') center center no-repeat;height: 17px;width: 17px;display: inline-block;vertical-align: middle;margin-right: 5px;}
        span{display: inline-block;color: #fff;font-size: 19px;vertical-align: middle;text-transform: uppercase;}
    }
    .header-middle{text-align: center;color: #fff;padding-top: 170px;
        .header-tab-top-title{position: relative;
            h3{font-size: 72px;text-transform: uppercase;}
            &:after{content: "";}
        }

        .header-tab-top-item{max-width: 925px;margin: 0 auto;
        }
        .header-tab-top-desc{font-size: 24px;color: white;}
        .header-tab-top{padding-top: 36px;line-height: 31px;}
    }






}