.review-wrap-all{ padding-top: 65px; background-image: url('/images/background-reviw.png'); background-repeat: no-repeat; width: 100%; vertical-align: top; position: relative;  min-width: 1280px; background-position: center center;
    .review-wrap{text-align: center; padding-right: 100px; padding-left: 100px;
        .review{display: inline-block; width: 45%; padding-top: 75px; padding-bottom: 60px;
            .human-face{ float: left; padding-top: 20px;}
            .converttext{ padding-left:  150px;
                .name{text-align: left; font-family: 'calibri'; font-size: 30px; }
                .post{text-align: left; font-family: 'calibri';font-size: 18px; font-style: italic; color: #707070;}
            }
        }
    }
}

.benefit-wrap-all{padding-top: 65px;   padding-bottom: 25px;
    .benefit-box{padding-top: 43px;width: 100%; padding-left: 60px;
        .row{text-align: center; width: 100%; padding-bottom: 40px; margin-right: 0; margin-left: 0;
            .benefit-item{ display: inline-block; width: 28%; text-align: left; vertical-align: top; margin-left: 80px;
                img{padding-top: 20px; padding-bottom: 6px;}
                .line{height: 3px; width: 45px; background-color: #a98352; }
                .name{font-family: 'calibri'; font-size: 36px; padding-bottom: 12px; }
                .content{ font-family: 'calibri'; font-size: 20px; font-weight: 300; padding-top: 14px;}

            }
            .benefit-item:first-child{margin-left: 0;}
        }
    }
}
.vacancy{ padding-top: 80px;}
.vacancy-wrap{padding-top: 18px; max-width: 1240px; width: 100%; margin: 0 auto;text-align: center;
    .vacancy-box{display: block; width: 100%; padding-top: 60px;text-align: center;
        .vacancy-row{width: 100%; padding-bottom: 50px;
            .conteiner-vacancy{display: inline-block; width: 28%; margin-left: 60px;text-align: left;
                .work-image{ margin-bottom: -80px; }
                .name-vacancy{vertical-align: top; margin-left: 30px;
                    p{ display: inline-block;  font-family: 'calibri'; font-size: 31px;}
                }
                .line{width: 40px;height: 3px; background-color:#071923;margin-left: 30px; }
                .content{display: inline-block; font-family: 'calibri'; font-size: 18px; margin-left: 45px;letter-spacing: 0.8px;    padding-top: 17px;}
                .vacancy{ text-decoration: none; text-align: center;
                    .button-vacancy{ margin-left: 30px; width: 85%; font-family: 'calibri'; font-weight: 700; font-size: 17px; border-radius: 3px; background-color:#a98352; color:#ffffff; padding-top: 17px; padding-bottom: 17px; }
                }
            }
        }

    }
    .convert-more{
        .more-vacancy {text-decoration: none; color:#8b8b8b; text-decoration: underline; font-family: 'calibri'; font-size: 19px; font-weight: 200;}
        }
}