/* basic styles */

.title{font-size: 36px;color: #010000;text-transform: uppercase;text-align: center;padding-bottom: 20px;position: relative;letter-spacing: .05em;
    span{display: inline-block;}
    &:after{content: '';display: block;position: absolute;bottom: 0;left: 50%;background-image: url(../images/titleimg.png);max-width: 306px;height: 14px;width: 100%;transform:translate3d(-50%,0,0);-webkit-transform:translate3d(-50%,0,0);-ms-transform:translate3d(-50%,0,0);-moz-transform:translate3d(-50%,0,0);}
}

/* /basic styles */

/* img map block */

.map-points{padding-top: 66px;padding-bottom: 50px;}
.map-img-wrap{padding-top: 51px;}
.map-img-top{text-align: center;padding-left: 5%;}
.map-img-inf{display: inline-block;width: 28%;margin-right: 4%;vertical-align: top;transform:translate3d(0, 25%,0);-webkit-transform:translate3d(0, 25%,0);-ms-transform:translate3d(0, 25%,0);opacity: 0;transition:transform 300ms ease, opacity 400ms ease;-webkit-transition:transform 300ms ease, opacity 400ms ease;-moz-transition:transform 300ms ease, opacity 400ms ease;-ms-transition:transform 300ms ease, opacity 400ms ease;text-align: left;
    &:last-child{margin-right: 0;}
    &.animated{transform:translate3d(0,0,0);-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);opacity: 1;}
    .map-img-inf-top-main{position: relative;padding-bottom:14px;margin-bottom: 5px;
        &:after{content:'';display: block;position: absolute;width: 175px;height: 10px;background-color: #e3e3e3;bottom:0;}
    }
    .map-img-inf-top-descript{font-size: 32px;color:#a98352;
        &:first-child{height: 45px;}
    }
    .map-img-value{font-weight: 700;font-size: 106px;color:#a98352;line-height: 65px;margin-bottom: 3px;}
    .map-img-inf-bottom-main{font-size: 20px;color:#535353;line-height: 22px;}
}
.map-img-bottom{text-align: center;margin-top: -10px;opacity: 0;transition:opacity 300ms ease;-webkit-transition:opacity 300ms ease;-ms-transition:opacity 300ms ease;-moz-transition:opacity 300ms ease;
    &.animated{opacity: 1;}
}


/* img map block */